<%-include('partials/header.ejs')-%>

<h1>Home</h1>
<%=content%>
<% posts.forEach(function(post){%>
  <h2><%=post.title%></h2>
  <% if (post.title.length > 100) { %>
  <p>
    <%=post.preview%>
    <a href="/post/<%=post.title%>">Read More</a>
  </p>
<% } %>
<% else {
<p>
  <%=post.content%>
</p>

<%}%>
<%})%>

<%-include('partials/footer.ejs')-%>
